body { background-image:url('../img/bg.jpg'); background-size: cover; }
.flexslider { background-color: transparent; border:none; margin-top:20px; }
.flexslider .slides img { width:auto; }
.fifth-tribe-box { background-color:rgba(0,0,0,.8); padding:20px; color:#ffffff; overflow:hidden; }
.fifth-tribe-box a { color:#ffffff; }
.fifth-tribe-box img { float:left; display:inline-block; padding-right:20px; }
.content-box { padding:15px; background-color:rgba(255,255,255,0.8); margin:20px 0; overflow: hidden; }
h2 { color:#C82506; font-size:18px; }
.client-box { clear:both; margin-bottom:20px; overflow: hidden; }
.client-box img { float:left; margin-right:15px; display:inline-block; }
.capability { margin:20px 10px; clear:both; background-color:#ffffff; overflow:hidden; }
.capability img { width:100%; }
.capability-text { padding:0 15px 20px; }